{% extends 'base.html' %}
{% block content %}
   <h2>Aluno</h2>
   <a href="{% url 'incluir_aluno' %}" class="btn btn-primary">Incluir Novo Aluno</a>

   <table class='table table-striped'>
      <thead>
      <tr>
         <td>Nome</td>
         <td>Data</td>
         <td>Telefone</td>
         <td>Email</td>  
         <td>Ações</td>
      </tr>
   </thead>
   <tbody>
      {% for a in aluno %}
      <tr>
         <td>{{a.nome}}</td>
         <td>{{a.data}}</td>
         <td>{{a.telefone}}</td>
         <td>{{a.email}}</td>
         <td>
            
            <a href ="{% url 'alterar_aluno' a.id %}" class="btn btn-primary">Alterar</a>
            <a href= "#" class = "btn btn-danger" onclick="abrirTela('{% url 'excluir_aluno' a.id %}')" >Excluir</a> 
            
         </td>        
      </tr>
      {% endfor %}
   </tbody>
   </table>
{% endblock %}