{% extends 'base.html' %}
{% block content %}
   <h2>Professores</h2>
   <a href="{% url 'incluir_professor' %}" class="btn btn-primary">Incluir Novo Professor</a>
   <table class='table table-striped'>
      <thead>
      <tr>
         <td>Nome</td>
         <td>Telefone</td>
         <td>Email</td>  
         <td>Ações</td>
      </tr>
   </thead>
   <tbody>
      {% for p in professor %}
      <tr>
         <td>{{p.nome}}</td>
         <td>{{p.telefone}}</td>
         <td>{{p.email}}</td>
         <td>
            
            <a href ="{% url 'alterar_professor' p.id %}" class="btn btn-primary">Alterar</a>
            <a href= "#" class ="btn btn-danger" onclick="abrirTela('{% url 'excluir_professor' p.id %}')">Excluir</a>
            
         </td>        
      </tr>
      {% endfor %}
   </tbody>
   </table>
{% endblock %}